.footer {
  margin: auto;
  background-color: rgb(239,239,239);
  &-container {
    max-width: 1440px;
    padding: 36px 0;
    margin: auto;
    .subscription {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      padding-bottom: 24px;
      margin-bottom: 24px;
      border-bottom: 2px solid #FFFFFF;
      &-left {
        h4 {
          margin: 8px 0;
        }
        p {
          margin: 0;
        }
      }

      &-right {
        display: flex;
        input {
          outline: none;
          // border: 1px solid rgba(64, 64, 64);
          border: none;
          padding: 12px 16px;
          // border-radius: 3px;
          width: 180px;
          border: 1px solid #ffffff;
        }
        button {
          padding: 8px 15px;
        }
      }
    }
    .copyright {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      column-gap: 36px;

      &-content {
        font-size: 24px;
        font-weight: 600;
        color: rgba(64, 64, 64);
        font-style: italic;
      }
    }
  }
}