header.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    .header__logo{
        display: flex;
        flex-direction: column;
    }
    .header__between{
        position: relative;
        display: flex;
        justify-content: space-around;
        .icon-search{
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            width: 30px;
        }
        .input-search{
            background-color: #F2F2F2;
            border: none;
            padding: 15px 20px;
            padding-right: 50px; /* text and image don't overlap */
            font-size: 14pxpx;
        }
    }
    .header__right{
        display: flex;
        align-items: center;
        gap: 10px;
        .user-sign{
            display: flex;
            flex-direction: column;
            align-items: start;
            text-decoration: none;
            color: black;
            label{
                font-size: 14px;
                color: gray;
            }
        }
        .header-cart{
            position: relative;
            span{
                position: absolute;
                top: 7.5%;
                left: 92.2%;
                bottom: 85%;
                color: red;
            }
        }
    }
}