$theme-color: #1464f4;

.product-list-banner {
  img {
    height: 350px;
    width: 100%;
    object-position: center;
    object-fit: cover;
  }
}

.product-list {
  &-content {
    display: flex;
    max-width: 1440px;
    margin: auto;
    column-gap: 48px;

    .sidebar {
      padding: 0 20px 20px;
      width: 60%;
      h3 {
        background-color: #1464f4;
        color: #ffffff;
        padding: 8px 16px;
        font-size: 16px;
        position: relative;
        &::before {
          border-top: 8px solid #1464f4;
          bottom: -8px;
          content: "";
          height: 0;
          position: absolute;
          width: 0;
          left: 0;
          border-left: 8px solid transparent;
        }
      }
      &-item {
        ul {
          list-style: none;
          margin-left: 8px;
          padding: 32px 16px 16px;
          border: 1px solid #ebebeb;
          li {
            margin-bottom: 8px;
            font-size: 16px;
            transition: .4s;
            cursor: pointer;
            &:hover {
              color: #1464f4;
            }
          }
        }
      }
    }
  }
  h2 {
    text-align: center;
    font-weight: 600;
    font-size: 32px;
    margin: 36px;
  }

  &-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    // column-gap: 32px;
    // row-gap: 24px;
    // max-width: 1440px;
    margin: 0 auto 36px;

    .product-item {
      display: none;
      display: flex;
      flex-direction: column;
      height: 100%;
      padding: 12px;
      border: 0.5px solid #ebebeb;

      &-image {
        text-align: center;
        flex-shrink: 0;

        img {
          width: 250px;
          height: 200px;
          object-fit: contain;
        }
      }

      &-detail {
        height: 100%;

        display: flex;
        flex-direction: column;
        flex: 1;

        .product-name {
          margin: 0;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          line-clamp: 2;
          -webkit-box-orient: vertical;

          a {
            text-decoration: none;
            color: #151515;
            transition: .3s;

            &:hover {
              color: $theme-color;
            }
          }
        }

        .product-detail-meta {
          border-top: 1px solid rgba(128, 128, 128, 0.3);

          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 0 -12px;
          padding: 12px;

          .product-price {
            font-size: 14px;
            line-height: 150%;
            margin: 14px 0;
            font-weight: 500;
            color: $theme-color;
          }

          span {
            margin-left: 8px;
            color: #939ca3;
            font-size: 12px;
          }
        }
      }

      .product-detail {
        margin-top: auto;
      }
    }
  }
}

.service-list {
  display: flex;
  justify-content: center;
  padding: 30px 50px;
  border: 1px solid #ebebeb;
  width: fit-content;
  margin: 30px auto;
  border-radius: 4px;

  &-item {
    display: flex;
    padding: 0 20px;
    border-right: 1px solid #ebebeb;
    color: #939ca3;
    column-gap: 16px;

    &_img {
      svg {
        height: 100%;
        width: 24px;
      }
    }

    &:last-child {
      border: none;
    }

    h3 {
      color: #151515;
      font-weight: 500;
      font-size: 16px;
    }

    span {
      font-size: 12px;
    }
  }
}