.detail-header {
  max-width: 1440px;
  margin: auto;

  display: flex;
  column-gap: 30px;
  margin-top: 48px;

  &-left {
    width: 50%;
    text-align: center;
    img {
      width: 80%;
      object-fit: contain;
    }
  }
  &-right {
    width: 50%;

    .product-name {
      font-size: 36px;
      line-height: 150%;
      margin: 0 0 16px;
    }

    .product-price {
      font-size: 24px;
      margin: 0;
    }

    .product-ratings {
      display: flex;
      align-items: flex-end;
      .star-container {
        font-size: 0;
      }
      span {
        font-size: 14px;
        margin-bottom: 4px;
        margin-left: 8px;
        display: block;
      }
    }

    .product-quantity {
      margin-top: 48px;
      display: flex;
      .quantity-btn {
        border: none;
        outline: none;
        background-color: #dadada;
        width: 32px;
        height: 32px;
        font-weight: 700;
        opacity: 0.8;
        line-height: 100%;
        font-size: 24px;
        cursor: pointer;
      }

      input {
        width: 44px;
        border: none;
        outline: none;
        text-align: center;
        font-size: 18px;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        &[type=number] {
          appearance: textfield;
          -moz-appearance:textfield; /* Firefox */
        }
      }
    }

    .product-color-main {
      font-size: 14px;
      margin: 8px 0 40px;
    }

    .stock {
      font-weight: 700;
    }

    .on-stock {
      color: #29A662;
    }

    .out-stock {
      color: red;
    }

    .product-color {
      display: flex;
      margin: 24px 0 56px;
      column-gap: 16px;
      cursor: pointer;
      &-item {
        width: 50px;
        padding: 4px;
        height: 50px;
        transition: .4s;
        border-radius: 5px;
        border: 1px solid transparent;
        &.active {
          border: 1px solid #1464f4;
          padding: 4px;
        }
        &:hover {
          border: 1px solid #1464f4;
        }

        img {
          width: 100%;
          object-fit: contain;
        }
      }

    }

  }
}

.detail-body {
  display: flex;
  max-width: 1440px;
  margin: auto;
  column-gap: 24px;
  &-left {
    width: 65%;
  }
  &-right {
    width: 35%;
  }
}