.head{
    background-color: #1464f4;
    padding: 10px 0;
    color: #fff;
    
    i{
        margin-right: 10px;
    }
    label{
        margin-right: 30px;
        font-size: 13px;
    }
    .d_flex {
        max-width: 1440px;
        margin: auto;
        justify-content: flex-start;
    }
}