#popup-root {
  .popup-overlay {
    overflow-y: scroll;

    .popup-content {
      .modal {
        background-color: aliceblue;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        min-width: 600px;
        height: 80vh;
      }
    }
  }

  .modal {
    padding: 30px;

    button.close {
      background-color: #FFFFFF;
      color: #1464f4;
      outline: none;
      border: none;
      width: 40px;
      height: 40px;
      font-size: 24px;
      border-radius: 50%;
      cursor: pointer;
      position: absolute;
      top: -20px;
      right: -20px;
      z-index: 99;
    }

    .header {
      font-size: 32px;
      text-align: center;
    }

    .content {
      height: 90%;
      padding-bottom: 8px;
      overflow-y: scroll;
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */

      &::-webkit-scrollbar {
        display: none;
      }

      .uploadImg {
        margin-bottom: 20px;
        #file_up {
          opacity: 0;
          width: 0;
          height: 0;
        }
        .upload-img-btn {
          display: block;
          padding: 10px 20px;
          background-color: #1464f4;
          cursor: pointer;
          color: #FFFFFF;
          font-size: 14px;
          width: fit-content;
        }

        #file_img {
          position: relative;
          margin-top: 20px;
          img {
            width: 100px;
            height: 70px;
            object-fit: contain;
          }
          span {
            position: absolute;
            right: 0;
            cursor: pointer;
            padding: 10px;
            display: block;
            top: 0;
          }
        }
      }

      input {
        padding: 10px 20px;
        width: 100%;
        border: 1px solid #939ca3;
        outline: none;
        border-radius: 3px;
        margin-bottom: 20px;
        box-sizing: border-box;
      }

      textarea {
        box-sizing: border-box;
        width: 100%;
        resize: none;
        height: 150px;
        margin-bottom: 20px;
        padding: 10px 20px;
        border-radius: 3px;
        outline: none;
      }

      select {
        width: 100%;
        padding: 10px 20px;
        outline: none;
        border-radius: 3px;
        margin-bottom: 20px;
      }

      label[for="feature"] {
        margin-bottom: 16px;
        display: block;
        font-weight: 500;
        font-size: 18px;
      }

      .actions {
        display: flex;
        column-gap: 16px;
        margin-top: 16px;
      }
    }
  }
}