#popup-root{
    .popup-overlay{
        overflow: scroll;
        .popup-content{
            .modal{
                background-color: aliceblue;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                min-width: 600px;
                max-height: fit-content;
                .content{

                }

            }
        }
    }
}