:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


body {
  margin: 0;

}
header, footer {
  height: 56px;
}

.content {
  height: calc(100vh - 112px);
}

.footer {
  background-color: #0d6efd;
  color: #fff;
  padding: 1rem;
}

.footer span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.footer li {
  padding: 0 0.5rem;
}

.footer a {
  color: #fff;
}

